<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
    <style>
        form{
            width: max-content;
        }
    </style>
</head>
<body>
    <form action="form">
        <fieldset>
            <legend>Legend</legend>
            <p>    
                <label for="firstName">Name: </label><br>
                <input type="text" name="firstName" id="name">
            </p>    
            <p>    
                <label for="lastName">Lastname:</label><br>
                <input type="text" name="lastName" id="lname">
            </p> 
            <input type="submit" value="Submit">
        </fieldset>
    </form>
</body>
</html>